<div class="ui grid centered">
  <div class="four wide column">
    <br><br>
    <h1><center>Calendrier à Gilles</center></h1>
    <br>
    <br>
    <br>
    <h2>Choisissez une salle !</h2>
    <form class="ui form">
      <div class="field">
        <label>Room ID</label>
        <input type="text" name="first-name" placeholder="Xdihz5d4z5d5z" ng-model="room">
        <button class="ui primary button" style="margin-top: 10px;float: right; width: 100%;" ng-click="goTo(room)">Go !</button>
      </div>
    </form>
  </div>
</div>
